*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --Gold-500: hsl(31, 77%, 52%);
  --Cyan-800: hsl(184, 100%, 22%);
  --Green-950: hsl(179, 100%, 13%);

  --trasnparent-white: hsla(0, 0%, 100%, 0.75);  /* paragraphs */
  --gray-100: hsl(0, 0%, 95%);  /* background, headings, buttons */

  /* typography */
  --fs-body: 15px;

  --ff-headings: "Big Shoulders", "Sans Serif";
  --ff-body: "Lexend Deca", "Sans Serif";

  --fw-regular: 300;
  --fw-bold: 600;

  --ls-p: 0.1rem;
}

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);

  background-color: var(--gray-100);
  color: var(--trasnparent-white);

  letter-spacing: var(--ls-p);

  padding: 4rem 1rem;
}

p {
  line-height: 1.5rem;
}

h1 {
  font-family: var(--ff-headings);
  color: var(--gray-100);
  font-weight: var(--fw-bold);
}

.card-1 {
  background-color: var(--Gold-500);
}

.card-2 {
  background-color: var(--Cyan-800);
}

.card-3 {
  background-color: var(--Green-950);
}

button {
  background-color: var(--gray-100);

  border-style: none;
  border-radius: 22px;
  
  padding: 0.75rem 1rem;

  width: 140px;

  font-weight: var(--fw-bold);
  font-family: var(--ff-body);
}

.button-1 {
  color: var(--Gold-500);
}

.button-2 {
  color: var(--Cyan-800);
}

.button-3 {
  color: var(--Green-950);
}

.cards {
  display: grid;
  gap: 2rem;
  padding: 2rem;
}

@media (width >= 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
