*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --Gold-500: hsl(31, 77%, 52%);
  --Cyan-800: hsl(184, 100%, 22%);
  --Green-950: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75);  /* paragraphs */
  --gray-100: hsl(0, 0%, 95%);  /* background, headings, buttons */

  /* typography */
  --fs-body: 15px;

  --ff-headings: "Big Shoulders", sans-serif;
  --ff-body: "Lexend Deca", sans-serif;

  --fw-regular: 300;
  --fw-bold: 600;

  --ls-p: 0.1rem;
}

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);

  background-color: var(--gray-100);
  color: var(--transparent-white);

  letter-spacing: var(--ls-p);

  padding: 4rem 1rem;

  display: grid;
  place-items: center;
  min-height: 100vh;
}

p {
  line-height: 1.5rem;
}

h1 {
  font-family: var(--ff-headings);
  color: var(--gray-100);
  font-weight: var(--fw-bold);
}

.card-1 {
  background-color: var(--Gold-500);
}

.card-2 {
  background-color: var(--Cyan-800);
}

.card-3 {
  background-color: var(--Green-950);
}

button {
  background-color: var(--gray-100);

  border-style: solid;
  border-color: transparent;
  border-radius: 22px;
  
  padding: 0.75rem 1rem;

  width: 140px;

  font-weight: var(--fw-bold);
  font-family: var(--ff-body);

  transition: 
    background-color: 0.15s,
    color: 0.15s,
    border-color: 0.15s
}

button:hover {
  background-color: transparent;
  color: var(--gray-100);

  border-style: solid;
  border-color: var(--gray-100);
  border-width: 2px;

  cursor: pointer;
}

.button-1 {
  color: var(--Gold-500);
}

.button-2 {
  color: var(--Cyan-800);
}

.button-3 {
  color: var(--Green-950);
}

.cards {
  display: grid;
  gap: 2rem;
  padding: 2rem;

  text-align: start;
}

.container {
  background-color: var(--gray-100);
  border-radius: 10px;
  overflow: hidden;
}

@media (width >= 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  button {
    margin-top: 4rem;
  }

  p {
    max-width:250px;
  }

  .cards {
    padding: 3rem;
  }
}
